<div class="card-body">
  <div class="row">
    <div class="col-lg-12">
    	<button data-toggle="modal" data-target="#sourceEditModal"  class="close float-right" type="button" aria-label="Edit">
	  <span class="fas fa-edit"></span>
	</button>
      <h3 class="mb-0 fs-2"><%= @source.title %></h3>
      <p class="mt-2"><%= @source.authors %></p>
      <% if @source.hashtags.present? %>
      	<p>
      		<% @source.hashtags.each do |hashtag| %>
      			<small><a class="p-1" href="#">#<%= hashtag.content %></a></small>
      		<% end %>
      	</p>
      <% end %>
  	</div>
  </div>
</div>

<div class="card-body bg-300">
	<div class="row">
		<div class="col fs-0">
			<a data-toggle="modal" data-target="#annotationModal" class="btn" href="#"><span class="fas fa-plus"></span> New Annotation</a>
		</div>

		<div class="col-auto">
			<% if Stack.first.pref_annotations_showsource %>
				<a href="<%= showsource_url(1) %>" class="btn mr-2">Hide Source</a>
			<% else %>
				<a href="<%= showsource_url(1) %>" class="btn mr-2">Show Source</a>
			<% end %>
      <!--<% if @source.html_file.present? %>
        <%= link_to 'Reimport', reimport_path(@source), :class => "btn btn-outline-success" %>
      <% end %>-->
      <%= link_to 'Destroy', @source, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-falcon-danger mr-2" %>

      <%= form.submit "Save", :class => "btn btn-falcon-default mr-2"%>
		</div>
	</div>
</div>


<% @source.entities.each do |entity| %>
  <span class="badge badge-dark">#<%= entity.content %></span>
<% end %>