<% @title=@source.title %>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <%= render 'layouts/notice', notice: @notice %>
  <!-- removed d-flex -->
  <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <%= render 'header', source: @source %>
  </div>

<%= form_for(@source) do |form| %>
  <div class="clearfix">
    <a style="display:inline" class="small nav-link" href="#" data-toggle="modal" data-target="#annotationModal"><em class="brand"><span class="fe fe-plus"></span> New Annotation</em></a>
  </div>
  <br>

  <%= form.hidden_field :title %>
  <%= form.hidden_field :authors %>
  <%= form.fields_for :annotations, @source.annotations.each do |annotation_fields| %>
    <div class="form-group" style="margin-bottom:0.5rem">
      <% if !annotation_fields.object.body_source.nil? && Stack.first.pref_annotations_showsource %>
        <div class="smaller text-muted"><%= annotation_fields.object.body_source %></div>
      <% end %>
      <%= annotation_fields.text_area :body, class: "form-control" %>
  <div style="margin-bottom: 10px;" class="container">
    <div class="row">
      <div class="col-sm">
        <span class="tiny" style="line-height:0;"><em><%= annotation_fields.object.id %></em> | <%= link_to 'Destroy', annotation_fields.object, method: :delete, data: { confirm: 'Are you sure?' }, class: "remove" %><% unless Hold.where(annotation_id: annotation_fields.object.id).present? %> | <%= link_to 'Hold', holds_path(:annotation_id => annotation_fields.object), method: :post, :class => "little-hold"%><% end %></span>
      </div>
      <div class="col-sm text-right">
        <span class="tiny" style="line-height:0;text-align:right;"><%= link_to raw('Filter'), hidesource_path(@source), method: :patch, :class => "" %></span>
      </div>
    </div>
  </div>
  <% end %>
  
  <br>

  <div>
    <%= form.submit "Update", :class => "btn btn-outline-primary"%>
    <% if @source.html_file.present? %>
      <%= link_to 'Reimport', reimport_path(@source), :class => "btn btn-outline-success" %>
    <% end %>
    <%= link_to 'Destroy', @source, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-danger" %>
  </div>
  <% end %>

  <% unless @source.citations.empty? %>
    <br>
    <br>
    <h4>Reading List</h4>
    <hr>
    <%= render(:partial => "pages/reading_list") %>
  <% end %>
    
  
  <div class="clearfix"></div>
  <br>
</main>

<!-- Annotation Modal -->
<div class="modal fade" id="annotationModal" tabindex="-1" role="dialog" aria-labelledby="New Annotation" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with(model: Annotation.new, local: true) do |form| %>
      <div class="modal-body">
        <div class="form-group">
          <%= form.text_area :body_source, :class => "form-control", :placeholder => "Annotation body...",:autofocus => true, :autocomplete => :off, rows: "6" %>
          <%= form.hidden_field :source_id, :value => @source.id %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= form.submit 'Submit', :class => "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>