<% @title=@source.title %>
<%= render 'layouts/notice', notice: @notice %>

<%= form_for(@source) do |form| %>
  <div class="card mb-3 bg-light position-sticky fixed-top">
    <%= render 'header', source: @source, form: form %>
  </div>

  <% if @source.annotations.present? %>
    <div class="card mb-3">
      <div class="card-body border-top">
      
          <%= form.hidden_field :title %>
          <%= form.hidden_field :authors %>
          <%= form.fields_for :annotations, @source.annotations.each do |annotation_fields| %>
            <div class="media">
              <a href="<%= toggle_url(annotation_fields.object.id) %>" class="<% if Hold.where(annotation_id: annotation_fields.object.id).present? %>disabled<% end %> btn btn-warning btn-sm mr-1 mb-1">Hold</a>
              <div class="media-body position-relative pl-3">
                <div class="form-group">
                  <%= annotation_fields.text_area :body, class: "form-control fs-0" %>
                  <% if !annotation_fields.object.body_source.nil? && Stack.first.pref_annotations_showsource %>
                    <p class="fs--1"><%= annotation_fields.object.body_source %></p>
                  <% end %>

                  <span class="tiny" style="line-height:0;"><em><%= annotation_fields.object.id %></em> | <%= link_to 'Destroy', annotation_fields.object, method: :delete, data: { confirm: 'Are you sure?' }, class: "remove" %></span>
                </div>
                <hr class="border-dashed border-bottom-0">
              </div>
            </div>
          <% end %>
        
      </div>
    </div>
  <% end %>
<% end %>

<% unless @source.citations.empty? %>
  <br>
  <br>
  <h4>Reading List</h4>
  <hr>
  <%= render(:partial => "pages/reading_list") %>
<% end %>
  
<!-- Annotation Modal -->
<div class="modal fade" id="annotationModal" tabindex="-1" role="dialog" aria-labelledby="New Annotation" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">New Annotation</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
      </div>
      <%= form_with(model: Annotation.new, local: true) do |form| %>
      <div class="modal-body">
        <div class="form-group">
          <%= form.text_area :body_source, :class => "form-control", :placeholder => "Annotation body...",:autofocus => true, :autocomplete => :off, rows: "6" %>
          <%= form.hidden_field :source_id, :value => @source.id %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= form.submit 'Submit', :class => "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>