<% @title=@source.title %>
<%= render 'layouts/notice', notice: @notice %>

<%= form_for(@source) do |form| %>
  <div class="card mb-3 bg-light">
    <%= render 'header', source: @source, form: form %>
  </div>

  <% if @source.annotations.present? %>
    <div class="card mb-3">
      <div class="card-body border-top">
      
          <%= form.hidden_field :title %>
          <%= form.hidden_field :authors %>
          <%= form.fields_for :annotations, @source.annotations.each do |annotation_fields| %>
            <div class="media">
              <a href="<%= toggle_url(annotation_fields.object.id) %>" id="annot-<%= annotation_fields.object.id %>" class="nav-link<% if Hold.where(annotation_id: annotation_fields.object.id).present? %> text-danger<% else %> text-secondary<% end %>"><span class="fas fa-hand-holding-heart"></span></a>
              <div class="media-body position-relative pl-3">
                <div class="form-group">
                  <%= annotation_fields.text_area :body, class: "form-control fs-0" %>
                  <% if !annotation_fields.object.body_source.nil? && Stack.first.pref_annotations_showsource %>
                    <p class="fs--1"><small class="badge badge-pill badge-soft-secondary"><strong> <%= annotation_fields.object.body_source.downcase.similar(annotation_fields.object.body.downcase).round %>%</strong></small> <%= annotation_fields.object.body_source %></p>
                  <% end %>
                  <div class="fs--1">
                    <span class="float-right"><%= annotation_fields.object.id %></span>
                      <span class="p-2">
                      <%= annotation_fields.check_box :is_summary %> is summary
                    </span>
                    <span class="p-2">
                      <%= annotation_fields.check_box :is_finding %> is finding
                    </span>
                  </div>

                  <!--  | <%= link_to 'Destroy', annotation_fields.object, method: :delete, data: { confirm: 'Are you sure?' }, class: "remove" %> -->
                </div>
                <hr class="border-dashed border-bottom-0">
              </div>
            </div>
          <% end %>
        
      </div>
    </div>
  <% end %>
<% end %>

<% unless @source.citations.empty? %>
  <br>
  <h4>Reading List</h4>
  <hr>
  <%= render(:partial => "pages/reading_list") %>
<% end %>


<!-- Annotation Modal -->
<div class="modal fade" id="annotationModal" tabindex="-1" role="dialog" aria-labelledby="New Annotation" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">New Annotation</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
      </div>
      <%= form_with(model: Annotation.new, local: true) do |form| %>
      <div class="modal-body">
        <div class="form-group">
          <%= form.text_area :body_source, :class => "form-control", :placeholder => "Annotation body...",:autofocus => true, :autocomplete => :off, rows: "6" %>
          <%= form.hidden_field :source_id, :value => @source.id %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= form.submit 'Submit', :class => "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Source Edit Modal -->
<div class="modal fade" id="sourceEditModal" tabindex="-1" role="dialog" aria-labelledby="Edit Source" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Edit Source</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
      </div>
      <%= form_with(model: @source, local: true) do |form| %>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Title</label>
          <%= form.text_area :title, :class => "form-control", :placeholder => "Title", :autocomplete => :off %>
        </div>
        <div class="form-group">
          <label for="authors">Authors</label>
          <%= form.text_field :authors, :class => "form-control", :placeholder => "Authors", :autocomplete => :off %>
        </div>
        <div class="form-group">
          <label for="hashtags">Hashtags</label>
          <%= form.text_area :hashtags_copy, :class => "form-control hashtags", :autocomplete => :off %>
        </div>
        <% if @source.hashtags_unused.present? %>
          <div class="form-group">
            <label for="hashtags">Recently Used</label>
            <p>
              <% @source.hashtags_unused.each do |hashtag| %>
                <small id="hashtag<%= hashtag.id %>" class="btn-falcon-default btn-sm mt-2 btn hashtag">#<%= hashtag.content %></small>
              <% end %>
            </p>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= form.submit 'Submit', :class => "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>