<% @title="Sources" %>
<%= render 'layouts/notice', notice: @notice %>
<% @sources.order(:title).in_groups_of(3) do |group| %>
  <div class="card-deck">
    <% group.each do |source| %>
      <div class="card">
        <% if source.nil? %>
          <div class="card-body" style="padding:0.75rem;">
            <div style="font-size:7.5rem;text-align:center;"><a href="#" data-toggle="modal" data-target="#sourceModal" class="deco-none">+</a></div>
          </div>
        <% else %>
          <a href="<%= url_for edit_source_path(source)%>" class="card-link">
            <div class="card-body">
              <h5 class="card-title"><%= source.title %></h5>
              <p class="card-text"><%= source.authors %></p>
            </div>
          </a>
          <div class="card-footer bg-light">
            <p class="fs--1 mb-0"><strong class="float-right"><%= source.id %></strong>Updated <%= time_ago_in_words(source.created_at) %> ago</p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <br>
<% end %>