<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <%= render 'layouts/notice', notice: @notice %>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Results</h1>
  </div>

  <% unless @results.any? %>
    <p><em>No search results.</em></p>
  <% end %>

  <% @results.map{|x,y|x}.uniq.each do |source_id| %>
    <table class="table table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">
            <%= link_to edit_source_path(Source.find(source_id)), :class => 'deco-none' do %><%= highlight(Source.find(source_id).title,@search_term) %><% end %>
            <br>
            <small><%= highlight(Source.find(source_id).authors,@search_term) %></small>
          </th>
        </tr>
      </thead>
      <tbody>

        <% @results.map{|x,y| y if x==source_id}.compact.each do |annotation_id| %>
          <tr id="annot<%= annotation_id %>">
            <td>
              <small><% unless Hold.where(annotation_id: annotation_id).present? %><span class="tiny"><%= link_to 'Hold', holds_path(:annotation_id => Annotation.find(annotation_id)), method: :post, :class => "little-hold" %></span> <% end %><%= highlight(Annotation.find(annotation_id).body,@search_term) %></small>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  <% end %>

  <br>
</main>