<% @title="Search" %>
<%= render 'layouts/notice', notice: @notice %>
<% unless @results.any? %>
  <div class="card mb-3 bg-light">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-8">
          <h3 class="mb-0">No Results</h3>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% @results.map{|x,y|x}.uniq.each do |source_id| %>
  <div class="card mb-3">
    <%= link_to edit_source_path(Source.find(source_id)), :class => "card-link text-600" do %>
      <div class="card-header bg-light">
        <h5 class="mb-0"><%= highlight(Source.find(source_id).title,@search_term) %></h5>
        <p class="mb-1"><%= highlight(Source.find(source_id).authors,@search_term) %></p>
        <% unless Source.find(source_id).hashtags_copy.empty? %>
          <p class="mb-0"><%= highlight(Source.find(source_id).hashtags_copy,@search_term) %></p>
        <% end %>
      </div>
    <% end %>

    <div class="card-body border-top">
      <% @results.map{|x,y| y if x==source_id}.compact.sort.each do |annotation_id| %>
        <div class="media">
          <a href="<%= toggle_url(annotation_id) %>" class="nav-link<% if Hold.where(annotation_id: annotation_id).present? %> text-danger<% else %> text-secondary<% end %>"><span class="fas fa-hand-holding-heart"></span></a>
          <div class="media-body position-relative pl-3">
            <p class="fs--1"><%= highlight(Annotation.find(annotation_id).body,@search_term) %></p>
            <hr class="border-dashed border-bottom-0">
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
