<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <%= render 'layouts/notice', notice: @notice %>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Strands</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary">Share</button>
        <button class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
    </div>
  </div>
  <table class="table table-bordered table-dark table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Thought</th>
        <th>Annotation</th>
        <th>Position</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @strands.each do |strand| %>
        <tr>
          <td><%= strand.id %></td>
          <td><%= strand.thought.id %></td>
          <td><%= strand.annotation.id %></td>
          <td><%= strand.position %></td>
          <td><%= link_to 'Show', strand %></td>
          <td><%= link_to 'Edit', edit_strand_path(strand) %></td>
          <td><%= link_to 'Destroy', strand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Strand', new_strand_path, :class => "btn btn-primary", :role => "button" %>
</main>