<%= form_tag read_citations_path, method: :put do %>
  <% Citation.unread_sources.each do |source| %>
    <div class="card mb-3">
        <div class="card-header bg-light">
          <%= submit_tag "Update", class: "mt-2 btn btn-sm btn-outline-primary float-right" %>
          <h5><a class="text-600" href="<%= url_for edit_source_path(source) %>"><%= source.title %></a></h5>
          <p class="mb-1"><%= source.authors %></p>
        </div>
      <div class="card-body border-top">
        <% source.citations.where(is_read: false).each do |citation| %>
          <div class="form-check">
            <%= check_box_tag "citation_ids[]", citation.id, citation.is_read, id: "form-check-#{citation.id}", class:"form-check-input" %>
            <label class="form-check-label" for=<%= "form-check-#{citation.id}" %>>
              <%= highlight(citation.cited_as, citation.title, highlighter: "<a target='_blank' href='#{citation.link}'>#{citation.title}</a>") %>
            </label>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if Citation.where(source_id: nil, is_read: false).present? %>
    <%= submit_tag "Update", class: "mt-2 btn btn-sm btn-outline-primary float-right" %>
    <h4 class="mt-4">No Source</h4>
    <div class="card-body border-top">
      <% Citation.where(source_id: nil, is_read: false).each do |citation| %>
        <div class="form-check">
          <%= check_box_tag "citation_ids[]", citation.id, citation.is_read, id: "form-check-#{citation.id}", class:"form-check-input" %>
          <label class="form-check-label" for=<%= "form-check-#{citation.id}" %>>
            <%= highlight(citation.cited_as, citation.title, highlighter: "<a target='_blank' href='#{citation.link}'>#{citation.title}</a>") %>
          </label>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>