<% @title="Acronyms" %>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <%= render 'layouts/notice', notice: @notice %>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Grakn</h1>
  </div>

  <%= link_to :Aylien, aylien_url %>
  <br>
  <br>
  <% Entity.all.each do |entity| %>
    $keyword<%= entity.id %> isa keyword has hashtag "<%= entity.content %>";<br>
  <% end %>

  <% tag_index = 0 %>
  <% Source.all.each do |source| %>
    $source<%= source.id %> isa source has title "<%= source.title %>" has authors "<%= truncate(source.authors) %>";<br>
    <% source.entities.each do |entity| %>
      <% tag_index += 1; %>
      $connection<%= tag_index %> (data: $source<%= source.id %>, topic: $keyword<%= entity.id %>) isa connection;<br>
    <% end %>
  <% end %>

</main>