<div class="card-body">
	<div class="row justify-content-between align-items-center">
	  <div class="col-md">
	    <h5 class="mb-2 mb-md-0"><%= @thought.name %></h5>
	  </div>
	  <div class="col-auto">

	  	<% if current_page?(controller: :thoughts, action: :edit) %>
	  		<%= link_to 'Destroy', @thought, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm mb-2 mb-sm-0 text-danger" %>
	  	<% end %>

	  	<button class="btn btn-sm mb-2 mb-sm-0 clipboard-btn" data-clipboard-action="copy" data-clipboard-text="<%= render 'stori_bulleted', thought: @thought %>">Bullets</button>
	  	<button class="btn btn-sm mb-2 mb-sm-0 clipboard-btn" data-clipboard-action="copy" data-clipboard-text="<%= render 'stori_plain', thought: @thought %>">Copy</button>
	  	<% if current_page?(controller: :thoughts, action: :edit) %>
	  		<%= link_to 'Done', @thought, :class => "btn btn-falcon-success btn-sm mb-2 mb-sm-0", :role => "button" %>
	  	<% else %>
	      <%= link_to 'Edit', edit_thought_path(@thought), :class => "btn btn-falcon-default btn-sm mb-2 mb-sm-0", :role => "button" %>
	    <% end %>
	  </div>
	</div>
</div>