<% if @thought.strands.any? %>
  <div class="card">
    <div class="card-body">
      <!-- <h5 class="card-title">Stori for <strong><%= @thought.name %></strong></h5> -->
      <!-- <h6 class="card-subtitle mb-2 text-muted"><%= @thought.name %></h6> -->

      <p class="card-text">
        <% @thought.strands.each_with_index do |strand,index| %>
          <small class="smaller" id="slave_strand_<%= strand.id %>"><mark style="background-color:hsl(<%= shift_hsv(50,@thought.source_info[0].uniq.count,@thought.source_info[1][index]) %>,90%,95%)"><%= strand.annotation.body %><sup><%= link_to edit_source_path(strand.annotation.source_id), class: "deco-none" do %><%= @thought.source_info[1][index] %></sup></mark></small><% end %>
        <% end %>
      </p>
      <p class="card-text">
        <strong>Sources</strong><br>
        <% @thought.source_info[0].uniq.each_with_index do |source_id,index| %>
          <small class="text-muted smaller"><mark style="background-color:hsl(<%= shift_hsv(50,@thought.source_info[0].uniq.count,index + 1) %>,90%,95%)"><%= link_to edit_source_path(source_id), class: "deco-none" do %><sup><%= index + 1 %></sup><%= truncate(Source.find(source_id).title, length: 100) %></mark></small><% end %> <small class="smaller"><a class="text-muted deco-none clipboard-btn" data-clipboard-action="copy" data-clipboard-text='"<%= Source.find(source_id).title %>"' href="">copy</a></small>
          <br>
        <% end %>
      </p>
    </div>
  </div>
<% end %>