<% @title=@thought.name %>
<%= render 'layouts/notice', notice: @notice %>
<div class="card mb-3">
  <%= render 'header', thought: @thought %>
</div>

<div class="row">
  <div class="col">
    <ul id="strands" class="list-group" data-url="<%= sort_strands_path %>">
    	<% @thought.strands.each_with_index do |strand,index| %>
        <li id="<%= dom_id(strand) %>" class="list-group-item  list-group-item-action">
          <%= link_to raw('<button class="close float-none" type="button" aria-label="Close"><span aria-hidden="true">×</span></button>'), strand, method: :delete, :class => 'close' %>
          <small class="smaller"><%= strand.annotation.body %></small>
        </li>
    	<% end %>
  	</ul>
  </div>
  <div class="col">
    <div id="stori">
      <%= render 'stori', thought: @thought %>
    </div>
  </div>
</div>