<% @title="Thoughts" %>
<%= render 'layouts/notice', notice: @notice %>
<h1>Thoughts</h1>
<hr>
<br>

<table id="data-table" class="table table-sm table-dashboard data-table display responsive no-wrap mb-0 fs--1 w-100">
  <thead class="bg-200">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Annotations</th>
      <th>Date Added</th>
      <th>Date Updated</th>
    </tr>
  </thead>

  <tbody class="bg-white">
    <% @thoughts.each do |thought| %>
      <tr>
        <td><%= thought.id %></td>
        <td><a href="<%= thought_path(thought) %>"><%= thought.name %></a></td>
        <td><%= thought.annotations.count %></td>
        <td><%= thought.created_at.strftime("%m/%d/%Y") %></td>
        <td><%= thought.updated_at.strftime("%m/%d/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>