<!DOCTYPE html>
<html>
  <head>
    <title>Stori Builder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/"><img src="/stori-logo.svg" width="30" height="30" class="d-inline-block align-top" alt=""><strong class="brand">Stori</strong>Builder</a>
      
      <%= form_with url: new_search_path, method: :get, local: true, :class => "contents" do |form| %>
        <% if defined? @search_term %>
          <%= form.text_field :term, :class => "form-control form-control-dark w-100", :value => @search_term, 'aria-label' => 'Search', :autocomplete => :off %>
        <% else %>
          <%= form.text_field :term, :class => "form-control form-control-dark w-100", :placeholder => 'Search', 'aria-label' => 'Search', :autocomplete => :off %>
        <% end %>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <%= form.button "Submit", type: :submit, :class => "nav-link" %>
            <!-- <a class="nav-link" href="/search/forstuff">Submit</a> -->
          </li>
        </ul>
      <% end %>
    </nav>

    <!-- https://feathericon.com/ -->
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <!-- <li class="nav-item">
                <a class="nav-link <%= 'active' if current_page?(root_path) %>" href="<%= url_for(action: 'dashboard',controller: 'pages') %>">
                  <span class="fe fe-home"></span>
                  Dashboard<% if current_page?(root_path) %><span class="sr-only">(current)</span><% end %>
                </a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link <%= 'active' if current_page?(sources_path) || current_page?(root_path) %>" href="<%= url_for(action: 'index',controller: 'sources') %>">
                  <span class="fe fe-layer"></span>
                  Sources <% if current_page?(sources_path) %><span class="sr-only">(current)</span><% end %>
                </a>
              </li>
               <li class="nav-item">
                <a style="padding:0rem 1rem 0.75rem 1.5rem" class="nav-link small" href="#" data-toggle="modal" data-target="#sourceModal">
                  <em class="brand"><span class="fe fe-plus"></span>
                  New Source</em>
                </a>
              </li>
              </li>
               <li class="nav-item">
                <a style="padding:0rem 1rem 0.75rem 1.5rem" class="nav-link small" href="#" data-toggle="modal" data-target="#sourceImportModal">
                  <em class="brand"><span class="fe fe-plus"></span>
                  Import Sources</em>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= 'active' if current_page?(thoughts_path) %>" href="<%= url_for(action: 'index',controller: 'thoughts') %>">
                  <span class="fe fe-donut"></span>
                  Thoughts <% if current_page?(thoughts_path) %><span class="sr-only">(current)</span><% end %>
                </a>
              </li>
              <li class="nav-item">
                <a style="padding:0rem 1rem 0.75rem 1.5rem" class="nav-link small" href="#" data-toggle="modal" data-target="#thoughtModal">
                  <em class="brand"><span class="fe fe-plus"></span>
                  New Thought</em>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link <%= 'active' if current_page?(annotations_path) %>" href="<%= url_for(action: 'index',controller: 'annotations') %>">
                  <span class="fe fe-quote-left"></span>
                  Annotations <% if current_page?(annotations_path) %><span class="sr-only">(current)</span><% end %>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= 'active' if current_page?(strands_path) %>" href="<%= url_for(action: 'index',controller: 'strands') %>">
                  <span class="fe fe-line-chart"></span>
                  Strands <% if current_page?(strands_path) %><span class="sr-only">(current)</span><% end %>
                </a>
              </li> -->
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">Activity</h6>
            <% Thought.order("updated_at DESC").limit(5).each do |thought| %>
              <a href="<%= url_for thought %>" class="btn btn-sm btn-block btn-light">
                <small><%= thought.name %> <span class="badge badge-light"> <%= thought.strands.count %></span></small>
              </a>
            <% end %>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <% if defined? @thought and @thought.id.present? and Hold.all.present? %>
                <span>Holds</span>
                <%= link_to raw('transfer <span class="svg-active fe fe-forward"></span>'), transfer_path(@thought), method: :patch, :class => "badge badge-warning" %>
              <% else %>
                <span>Holds</span>  <span class="badge badge-light">Transfer <span class="svg-active fe fe-forward"></span></span>
              <% end %>
            </h6>

            <ul class="list-group nav flex-column mb-2 list-group-flush">
              <% Hold.all.each do |hold| %>
                <%= link_to(hold_path(hold), method: :delete, :class => "rm-hold") do %>
                  <li class="tiny hold list-group-item" style="padding: 0.25rem 0.25rem;">
                    <% if defined? @thought and @thought.id.present? and @thought.annotations.where(id: hold.annotation_id).present? %>✓ <% end %>
                    <%= hold.annotation.body %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </nav>
        
        <%= yield %>

      </div>
    </div>

    <!-- Source Modal -->
    <div class="modal fade" id="sourceModal" tabindex="-1" role="dialog" aria-labelledby="New Source" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <%= form_with(model: Source.new, local: true) do |form| %>
          <div class="modal-body">
            <label for="newSource">New Source</label>
            <div class="form-group">
              <%= form.text_field :title, :class => "form-control", :placeholder => "Title",:autofocus => true, :autocomplete => :off %>
            </div>
            <div class="form-group">
              <%= form.text_field :authors, :class => "form-control", :placeholder => "Authors", :autocomplete => :off %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= form.submit 'Submit', :class => "btn btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Thought Modal -->
    <div class="modal fade" id="thoughtModal" tabindex="-1" role="dialog" aria-labelledby="New Thought" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <%= form_with(model: Thought.new, local: true) do |form| %>
          <div class="modal-body">
            <div class="form-group">
              <%= form.text_field :name, :class => "form-control", :placeholder => "Thought Name",:autofocus => true, :autocomplete => :off %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= form.submit 'Submit', :class => "btn btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Source Import Modal -->
    <!-- default found in config/environments -->
    <div class="modal fade" id="sourceImportModal" tabindex="-1" role="dialog" aria-labelledby="New Source Import" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <%= form_with url: import_sources_path, method: :post, local: true, :class => "contents" do |form| %>
          <div class="modal-body">
            <label for="sourceImportPath">Source Path</label>
            <div class="form-group">
              <%= form.text_field :source_path, :class => "form-control form-control-dark w-100", :value => Rails.application.config.default_source_path, 'aria-label' => 'Source path', :autocomplete => :off %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= form.submit 'Submit', :class => "btn btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

  </body>

  <script>
    $(".list-group-item").hover(
      function() {
        thisid = $( this ).attr('id');
        $('#' + thisid + ' small').addClass( "bolder" );
        $('#slave_' + thisid).addClass( "bolder" );
      }, function() {
        thisid = $( this ).attr('id');
        $('#' + thisid + ' small').removeClass( "bolder" );
        $('#slave_' + thisid).removeClass( "bolder" );
      }
    );

    var editTitle = $('.edit-title').html();
    $('.edit-title').blur(function() {
      if (editTitle!=$(this).html()){
          editTitle = $(this).html();
          $('#source_title').val(editTitle);
      }
    });
    var editAuthors = $('.edit-authors').html();
    $('.edit-authors').blur(function() {
      if (editAuthors!=$(this).html()){
          editAuthors = $(this).html();
          $('#source_authors').val(editAuthors);
      }
    });

    $('textarea').each(function(){
      autosize(this);
    }).on('autosize:resized', function(){
      console.log('textarea height updated');
    });

    // Tooltip
    $('.clipboard-btn').tooltip({
      trigger: 'click',
      placement: 'bottom'
    });

    function setTooltip(btn, message) {
      $(btn).tooltip('show')
        .attr('data-original-title', message)
        .tooltip('show');
    }

    function hideTooltip(btn) {
      setTimeout(function() {
        $(btn).tooltip('hide');
      }, 1000);
    }

    // Clipboard
    var clipboard = new Clipboard('.clipboard-btn');

    clipboard.on('success', function(e) {
      setTooltip(e.trigger, 'Copied!');
      hideTooltip(e.trigger);
    });

    clipboard.on('error', function(e) {
      setTooltip(e.trigger, 'Failed!');
      hideTooltip(e.trigger);
    });

    $('.modal').on('shown.bs.modal', function() {
      $(this).find('[autofocus]').focus();
    });
  </script>
  
</html>
