<!DOCTYPE html>
<html>
  <head>
    <title>Stori Builder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><strong>Stori</strong>Builder</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <!-- https://feathericon.com/ -->
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link <%= 'active' if current_page?(root_path) %>" href="<%= url_for(action: 'dashboard',controller: 'pages') %>">
                  <span class="fe fe-home"></span>
                  Dashboard <% if current_page?(root_path) %><span class="sr-only">(current)</span><% end %>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= 'active' if current_page?(thoughts_path) %>" href="<%= url_for(action: 'index',controller: 'thoughts') %>">
                  <span class="fe fe-donut"></span>
                  Thoughts <% if current_page?(thoughts_path) %><span class="sr-only">(current)</span><% end %>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= 'active' if current_page?(sources_path) %>" href="<%= url_for(action: 'index',controller: 'sources') %>">
                  <span class="fe fe-layer"></span>
                  Sources <% if current_page?(sources_path) %><span class="sr-only">(current)</span><% end %>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= 'active' if current_page?(annotations_path) %>" href="<%= url_for(action: 'index',controller: 'annotations') %>">
                  <span class="fe fe-quote-left"></span>
                  Annotations <% if current_page?(annotations_path) %><span class="sr-only">(current)</span><% end %>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= 'active' if current_page?(strands_path) %>" href="<%= url_for(action: 'index',controller: 'strands') %>">
                  <span class="fe fe-line-chart"></span>
                  Strands <% if current_page?(strands_path) %><span class="sr-only">(current)</span><% end %>
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Actions</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Turk Sources
                </a>
              </li>
            </ul>
          </div>
        </nav>
        
        <%= yield %>

      </div>
    </div>

  </body>
</html>
